@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    border: 1px solid rgb(167, 140, 140);
    border-radius: 15px;
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.container .inputcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container .inputcontent input[type="text"] {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    border-radius: 1px solid #ced4da;
}

.container .inputcontent button{
    width: 90%;
    height: 45px;
    margin-top: 10px;
    border-radius: 1px solid #ced4da;
    color: white;
    background-color: #007bff;
}